// hsl(hue, saturation, lightness);
$primary: hsl(184, 73%, 50%);
$primary-hover: hsl(184, 73%, 40%);

$secondary: hsl(10, 82%, 50%);
$secondary-hover: hsl(10, 82%, 40%);
$semi-white: hsl(0, 0, 99%);
$background: hsl(0, 0, 80%);
